{% extends "base/header.html" %}


{% block title %} {{ title }} {% endblock %}


{% block body %}
<div class="col s12 m8 l9">
    <!-- Dropdown Structure -->
    <nav class="teal">
        <div class="nav-wrapper">
            <div id="title" class="col s12">
                <a href="/" class="brand-logo">  {{ title }} </a>
                <ul id="header_menu" class="right hide-on-med-and-down">
                    <li> <a href="/"> {{"Назад"|translate}} </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div id="auth" class="container white z-depth-2">
    <ul class="tabs teal">
        <li class="tab col s3"><a class="white-text {% if not register %} active {% endif %}" href="#login">{{ "Вход"|translate }}</a></li>
        <li class="tab col s3"><a class="white-text {% if register %} active {% endif %}" href="#register">{{ "Регистрация"|translate }}</a></li>
    </ul>

    <div id="login" class="col s12">
        <form class="col s12" method="POST" action="/auth">
            <div class="form-container">
                {% if message %}
                <h4 class="teal-text">{{ message|raw}}.</h4>
                {% endif %}
                <div class="row">
                    <div class="input-field col s12">
                        <input name="login" required="required" id="email" type="email" class="validate">
                        <label for="email">{{"Электронная почта"|translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="password" required="required" id="password" type="password" class="validate">
                        <label for="password">{{"Пароль"|translate}}</label>
                    </div>
                </div>
                <br>
                <div style="align-content: center">
                    <button name="signIn" class="btn waves-effect waves-light teal" type="submit" value="1">{{"Вход"|translate}}</button>
                    <br>
                    <br>
                    <!--<a href="">Забыли пароль?</a>-->
                </div>
            </div>
        </form>
    </div>
    <div id="register" class="col s12">
        <form class="col s12" enctype="multipart/form-data" method="POST" action="/auth">
            <div class="form-container">
                {% if messageRegister %}
                    <h4 class="teal-text">{{ messageRegister|raw}}.</h4>
                {% endif %}
                <div class="row">
                    <div class="input-field col s12">
                        <input name="name" required="required" id="last_name" type="text" class="validate">
                        <label for="name">{{"Имя"|translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="email" required="required" id="email" type="email" class="validate">
                        <label for="email">{{"Электронная почта"|translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="Password" required="required" id="password" type="password" class="validate">
                        <label for="password">{{"Пароль"|translate}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input name="Confirm_Password" required="required" id="password-confirm" type="password" class="validate">
                        <label for="password-confirm">{{"Подтверждение Пароля"|translate}}</label>
                    </div>
                </div>


                <div class="row" id="file">
                    <div class="file_input_div">
                        <div class="file_input">
                            <label class="image_input_button mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect mdl-button--colored">
                                <i class="material-icons">file_upload</i>
                                <input name="File" id="file_input_file" class="none" type="file" />
                            </label>
                        </div>
                        <div id="file_input_text_div" class="mdl-textfield mdl-js-textfield textfield-demo">
                            <input class="file_input_text mdl-textfield__input" type="text" disabled readonly id="file_input_text" />
                            <label class="mdl-textfield__label" for="file_input_text"></label>
                        </div>
                    </div>
                </div>
                <div style="align-content: center">
                    <button class="btn waves-effect waves-light teal" type="submit" name="Submit" value="1">{{"Зарегистрироваться"|translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock %}